::placeholder {
    color: white !important;
    font-style: italic;
    font-size: .9rem;
    font-weight: 300;
}

html,
body {
    height: 100%;
}

.profile-pic-wrapper {
    height: 80px;
    width: 80px;
}

.profile-pic-container {
    height: 72px;
    width: 72px;
}

img {
    object-fit: cover;
}

#feed {
    display: flex;
    flex-direction: column;

    scroll-snap-type: y mandatory;
    overflow-y: auto;
}

#feed::-webkit-scrollbar {
    display: none;
}

#feed > article {
    flex-shrink: 0;
    scroll-snap-align: start;
}

article .post-media{
    scroll-snap-type: x mandatory;
    overflow-y: auto;
}

article .post-media.active{
    scroll-snap-type: none;
}

article .post-media > div{
    flex-shrink: 0;
    scroll-snap-align: start;
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.post-image.inactive {
    height: 20% !important;
}

.post-content.active {
    height: 80% !important;
}

.notifications-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.edit-profile-pic {
    bottom: 7%;
    right: 7%;
}

@media screen and (max-width: 768px) {
    .abs-section {
        top: -100px;
        position: absolute;
    }

    .description {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .nav-post {
        position: fixed;
        width: 100%;
    }

    .post {
        height: 100vh;
    }

    .info-block {
        position: relative;
    }

    .expand-icon {
        transform: translate(0, -50%);
    }

    .edit-profile-pic {
        bottom: 0;
        right: 0;
    }
}