::placeholder {
    color: white;
    font-style: italic;
    font-size: .9rem;
    font-weight: 300;
}
@media screen and (max-width: 768px) {
    .profile-info {
        position: absolute;
        top: -100px;
    }
    
    .description {
        overflow: hidden;
        text-wrap: nowrap;
        text-overflow: ellipsis;
    }
    
    .nav-post {
        position: fixed;
        width: 100%;
    }
    
    .post {
        height: 100vh;
    }    

    .info-block {
        position: relative;
    }
}